<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body th:fragment="main-head">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/main"><img src="/image/logo2-2.png" width="60px" height="30px"> 깐부월드</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	        <section class="header-topmenu">
		        <div class="navbar-collapse collapse show fr" id="navbarSupportedContent">
		            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
		           		<li style="font-weight:bold" class="nav-item" th:if = "${session.loginUser != null}">
		               		<a class="nav-link active" th:text="|${session.loginUser.mem_name}(${session.loginUser.mem_id})님|"></a>
		                </li>
		                <li class="nav-item"  th:if = "${session.loginUser == null}">
		                	<a class="nav-link active"href="/login/login">로그인</a>
		                </li>
		                <li class="nav-item"  th:if = "${session.loginUser == null}">
		                	<a class="nav-link active" href="/join/join">회원가입</a>
		                </li>
		                <li class="nav-item" th:if = "${session.loginUser != null}">
		               		<a class="nav-link active" href="/search/search" >검색</a>
		                </li>
		                <li class="nav-item" th:if = "${session.loginUser != null}">
		               		<a class="nav-link active" href="/mgm/mgm" >깐부관리</a>
		                </li>
		                <li class="nav-item" th:if = "${session.loginUser != null}">
		               		<a class="nav-link active" href="/myinfo/myinfo" >내정보수정</a>
		                </li>
		                <li class="nav-item" th:if = "${session.loginUser != null}">
		               		<a class="nav-link active" href="/logout/logout" >로그아웃</a>
		                </li>
		            </ul>
		           <!--  <form class="d-flex">
		                <button class="btn btn-outline-dark" type="submit">
		                    <i class="bi-cart-fill me-1"></i>
		                    알림
		                    <span class="badge bg-dark text-white ms-1 rounded-pill">10</span>
		                </button>
		            </form> -->
		        </div>
	       </section>
   	 </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Header-->
 <header class="py-4 bg-mint">
    <div class="container">
        <div class="text-center text-white">
	        <div class="relative">
	        	<a href="/main">
	        		<img src="/image/logo2-2.png" width="130px" height="75px" >
	        	</a>
				<div>
		            <h1 class="display-6 fw-bolder text-black">GGANBU WORLD</h1>
		            <p class="lead fw-normal text-black mb-0">우린 깐부자나</p>
		        </div>
	        </div>
        </div>
    </div>
 </header>
 
 
</body>
</html>