<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/diary.css" />
</head>
<body>
<div id="diary_change">  
		
	<form name="diaryWriteForm" id="diaryWriteForm"  method="post"> <!-- action="/diaryInsert/${session.loginUser.mem_id}"--><!-- diaryWrite2()에서 url써서 serialize()해서 그런지 필요없는듯 -->
		<input type="hidden" name="mem_id" th:value=${mem_id} >
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<div class="col mb-5">
				<div class="card h-100">
					 <div class="diary-date">
						<span th:text="|😍 Today is ${todayDate} |"></span>
						<div>
							<input type="checkbox" id="checkbox" name="diary_secret" value="Y">
							<span>비밀글로 하기</span>
						</div>
					</div> 
					<div class="card-body3 ">
						<div>
							<!-- <span th:text="${dto?.diary_content}"></span> -->
							<textarea id="diary_write" name="diary_content" placeholder="내 이야기를 써보세요!" ></textarea>
						</div>
					</div>
					<div class="card-footer  pt-0 border-top-0 bg-transparent"></div>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-outline-dark btn-sm btn-set" th:attr="onclick=|diaryWrite2('/diaryInsert/${mem_id}')|">등록</button>
					<button type="button" class="btn btn-outline-dark btn-sm btn-set" th:attr="onclick=|diaryWrite('/mini/diary/diary/${mem_id}')|">취소</button>
				</div>
			</div>
		</div>
	</form>
</div> 

<script src="/js/diary.js"></script>
</body>
</html>