<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mini homepage</title>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/diary.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/reset.css" />

</head>
<body>
<div id="diary_change" >
	<div>
		<input  id="dateSelect" name = "diary_date"  placeholder="날짜선택" th:attr="onchange=|diarySelect('/diarySelect/${mem_id}')|" readonly>
		<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
			<a th:attr="onclick=|diaryWrite('/mini/diary/diary_write/${mem_id}')|">
				<button type="button" class="btn btn-outline-dark btn-sm write-btn">글쓰기</button>
			</a>
			<button type="button" class="btn btn-outline-dark btn-sm btn-set write-btn" th:attr="onclick=|diaryWrite('/mini/diary/diary/${mem_id}')|">목록보기</button>
		</th:block>
	</div>	
	<th:block th:if="${not #lists.isEmpty( diaryList )}" th:each="list : ${diaryList}" >
		<form name="diaryForm" >
			<input type="hidden" name="diary_num" th:value=${list.diary_num} >  <!--  ${dto.diary_num} -->
			<input type="hidden" name="mem_id" th:value=${session.loginUser.mem_id} >  
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				
				<div class="col mb-5">
					<div class="card h-100">
							<th:block th:if="${list.diary_secret} == Y">
								<div class="diary-date2">
									<!-- <span th:text="${i}"></span>  -->
									<div>
										<span th:text="|No.${list.rno}|"></span>
										<span> 🔒 비밀글</span> 
									</div>
									<div>
					             		<span th:if="${#strings.equals(today, list.diary_date)}" class="badge" >NEW</span>
										<span id="diary-date2" th:text="${list.diary_date}"></span>
				             		</div>
								</div>
							</th:block>
							<th:block th:unless="${list.diary_secret} == Y">
								<div class="diary-date">
									<!-- <span th:text="${i}"></span>  -->
									<div>
										<span th:text="|No.${list.rno}|"></span>
									</div>
									<div>
					             		<span th:if="${#strings.equals(today, list.diary_date)}" class="badge" >NEW</span>
										<span id="diary-date2" th:text="${list.diary_date}"></span>
				             		</div>
								</div>
							</th:block>
						<div class="card-body2 ">
							<div class="diaryListContent" th:text="${list.diary_content}"></div>
								<!-- <pre th:text="${list.diary_content}" ></pre> -->
						</div>
						<div class="card-footer  pt-2 border-top-0 bg-transparent updel">
							<a th:attr="onclick=|diaryUpdateMove('/diary_update/${mem_id}/${list.diary_num}')|">수정</a>
								<!--  </a> -->
							<a th:attr="onclick=|diaryDelete('/diaryDelete/${mem_id}/${list.diary_num}')|">삭제</a>
						</div>
					</div>
				</div>
			</div>	
		</form>	
	</div>
	<div th:unless="${not #lists.isEmpty( diaryList)}">
		<span class="infoMsg"> 삭제가 완료되었습니다.🙆‍♂ </span>	
		<!-- <a th:attr="onclick=|diaryWrite('/mini/diary/diary/${session.loginUser.mem_id}')|" class="showList">🖱 목록보기 🖱 </a> -->
	</div>
</th:block>
 
 
 <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script> 
<script src="/js/diary.js"></script>
<script src="/js/ajax.js"></script>
</body>
</html>