<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mini homepage</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/diary.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/reset.css" />

</head>
<body>
<div id="diary_change" >
	<div>
		<input  id="dateSelect" name = "diary_date"  placeholder="날짜선택" th:attr="onchange=|diarySelect('/diarySelect/${mem_id}')|" readonly>
		<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
			<a th:attr="onclick=|diaryWrite('/mini/diary/diary_write/${mem_id}')|">
				<button type="button" class="btn btn-outline-dark btn-sm write-btn">글쓰기</button>
					<!-- onclick="diaryWrite('/mini/diary/diary_write/[[${session.loginUser.mem_id}]]')" -->
			</a>
			<button type="button" class="btn btn-outline-dark btn-sm btn-set write-btn" th:attr="onclick=|diaryWrite('/mini/diary/diary/${mem_id}')|">목록보기</button>
		</th:block>
	</div>	
	<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
		<th:block th:if="${not #lists.isEmpty( diaryList )}" th:each="list, i : ${diaryList}" >
			<form name="diaryForm" id="diaryForm" >
				<input type="hidden" name="diary_num" th:value=${list.diary_num} >  <!--  ${dto.diary_num} -->
				<input type="hidden" name="mem_id" th:value=${mem_id} >  
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					
					<div class="col mb-5">
						<div class="card h-100">
							<th:block th:if="${list.diary_secret} == Y">
								<div class="diary-date2">
									<!-- <span th:text="${i}"></span>  -->
									<div>
										<span th:text="|No.${list.rno}|"></span>
										<span> 🔒 비밀글</span> 
									</div>
									<div>
					             		<span th:if="${#strings.equals(today, list.diary_date)}" class="badge" >NEW</span>
										<span id="diary-date2" th:text="${list.diary_date}"></span>
				             		</div>
								</div>
							</th:block>
							<th:block th:unless="${list.diary_secret} == Y">
								<div class="diary-date">
									<!-- <span th:text="${i}"></span>  -->
									<div>
										<span th:text="|No.${list.rno}|"></span>
									</div>
									<div>
					             		<span th:if="${#strings.equals(today, list.diary_date)}" class="badge" >NEW</span>
										<span id="diary-date2" th:text="${list.diary_date}"></span>
				             		</div>
								</div>
							</th:block>
							<div class="card-body2 ">
								<div class="diaryListContent"  th:text="${list.diary_content}"></div>
							</div>
							<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
								<div class="card-footer  pt-2 border-top-0 bg-transparent updel">
									<a th:attr="onclick=|diaryUpdateMove('/diary_update/${mem_id}/${list.diary_num}')|">수정</a>
									<a th:attr="onclick=|diaryDelete('/diaryDelete/${mem_id}/${list.diary_num}')|">삭제</a>
								</div>
							</th:block>
						</div>
					</div>
				</div>	
			</form>	
		</th:block>
		<th:block th:unless="${not #lists.isEmpty( diaryList)}">
			<span class="infoMsg"> 다이어리글이 없어요.😮</span>		
		</th:block>
	</th:block>
	<th:block th:unless="${#strings.equals(mem_id, session.loginUser.mem_id)}" >
		<th:block th:if="${not #lists.isEmpty( diaryList2 )}" th:each="list, i : ${diaryList2}" >
			<th:block th:if="${list.diary_secret} == null">
				<form name="diaryForm" id="diaryForm" >
					<input type="hidden" name="diary_num" th:value=${list.diary_num} >  <!--  ${dto.diary_num} -->
					<input type="hidden" name="mem_id" th:value=${mem_id} >  
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5">
							<div class="card h-100">
								<div class="diary-date">
									<!-- <span th:text="${i}"></span>  -->
									<div>
										<span th:text="|No.${list.rno}|"></span>
										<!-- <span class="" th:if="${list.diary_secret} == Y">     비밀글</span> -->
									</div>
									<div>
					             		<span th:if="${#strings.equals(today, list.diary_date)}" class="badge" >NEW</span>
										<span id="diary-date2" th:text="${list.diary_date}"></span>
				             		</div>
								</div>
								<div class="card-body2">
									<div class="diaryListContent"  th:text="${list.diary_content}"></div>
								</div>
								<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
									<div class="card-footer  pt-2 border-top-0 bg-transparent updel">
										<a th:attr="onclick=|diaryUpdateMove('/diary_update/${mem_id}/${list.diary_num}')|">수정</a>
										<!--  </a> -->
										<a th:attr="onclick=|diaryDelete('/diaryDelete/${mem_id}/${list.diary_num}')|">삭제</a>
									</div>
								</th:block>
							</div>
						</div>
					</div>	
				</form>	
			</th:block>
		</th:block>
		<th:block th:unless="${not #lists.isEmpty( diaryList2)}">
			<span class="infoMsg"> 다이어리글이 없어요.😮</span>		
		</th:block>
	</th:block>
	<nav th:if="${dto != null and dto.paginationInfo.totalRecordCount > 0}" th:object="${dto.paginationInfo}" th:with="info=${dto.paginationInfo}"
		aria-label="Page navigation" class="paging-center">
		<ul class="pagination">
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${dto.makeQueryString(1)} ]])"><a
				href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${dto.makeQueryString(info.firstPage - 1)} ]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
			</li>
			<li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == dto.currentPageNo} ? 'active'"><a
				href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${dto.makeQueryString(pageNo)} ]])"></a></li>
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${dto.makeQueryString(info.lastPage + 1)} ]])"><a
				href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${dto.makeQueryString(info.totalPageCount)} ]])"><a
				href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</nav>
</div>

<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
<script src="/js/diary.js"></script>
</body>
</html>