@charset "UTF-8";
.text-center {
	display:flex;
	justify-content:flex-end; 
	
}
.updel{
	display:flex;
	justify-content:flex-end; 
	color:orange;
	font-size:11pt;
}
.updel>a {
	padding: 0 5px 0 5px;
}
.updel a:first-child {
	border-right:1.5px solid black;
}
 .updel a:hover{
	/* background:linen; */
	font-weight: bold;
	cursor:pointer;
} 

.diary-date {
	/* border: 1px solid rgba(0, 0, 0, 0.125); */
	background:#EEEEEE;
	padding:7px 0;
	font-size:11pt;
	font-weight:bold;
	display:flex;
	justify-content:space-between;
}
#rightdate {
	text-align:right;
	display:inline-block;	
}
#diary-date2 {
	font-size:12pt;
}
.diarybtn {
	width:100px;
	/* display:flex;
	justify-content:flex-end; */
	border:1px solid red;
}
.btn-sm {
	padding:2px 5px;
	margin-bottom:10px;
}
.btn-set {
	margin-left:8px;
}
.card-body2 {
  flex: 1 1 auto;
 /*  padding: 5rem 1rem; */
  font-size:12pt;
  line-height:25px;
}
#diary_write {
	width: 100%;
    height: 15em;
    resize: none;
    line-height:25px;
}
/* #diary_write2 {
	width: 100%;
	resize: none;
	line-height:25px;
	border:1px solid white;
} */
.card-body3 {
	flex: 1 1 auto;
  	padding: 0.5rem 0.5rem 0 0.5rem;
}
#dateSelect {
	/* padding:5px 0; */
	width:100px;
}
.infoMsg {
	display:flex;
	justify-content:center;
	margin-top:20px;
}
.showList{
	margin-top:5px;
	padding:5px;
	display:flex;
	justify-content:center;
	text-decoration:none;
	color:black;
}
.showList:hover {
	background-color:linen;
	color:black;
	font-weight:bold;
}

/* 다이어리 리스트, 수정 후 보여지는 글에서 글 쓸 때 엔터까지 쳤던거 그대로 보여지게 함, 
이거 안주면 엔터쳐서 글 써도 다 옆으로 붙어서 출력됨. */
.diaryListContent { 
	white-space:pre-wrap;
}

Form[name="diaryForm"] {
	margin-top:20px;
}
.write-btn {
	float:right;
}
.badge {
	background:#4bb6d6;
}


/* 달력  
 .ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1px solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

 .ui-datepicker-calendar { width: 100%; } 

 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

 .ui-widget-header .ui-icon { background-image: url('./btns.png'); } 

 .ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

 .inp:focus { outline: none; background-color: #eee; } */