@charset "UTF-8";
.text-center {
 	display:flex;
	justify-content:flex-end; 
}
.diary-date {
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.diarybtn {
	width:100px;
	/* display:flex;
	justify-content:flex-end; */
	border:1px solid red;
}
.btn-sm{
	padding:2px 5px;
}