@charset "UTF-8";

.guest-1 {
	background-color : #B4B4DC;
	display : flex;
	justify-content : space-between;
	font-weight: bold;
	padding : 5px 0;
	font-size:10pt;
}

.card-body2 {
  flex: 1 1 auto;
  padding: 1rem 1rem; 
  font-size:12pt;
  line-height:20px;
}

.updel{
	display:flex;
	justify-content:flex-end; 
	color:#8C8CBE;
	font-size:11pt;
}

.updel>a {
	padding: 0 5px 0 5px;
}
.updel a:first-child {
	border-right:1.5px solid black;
}
 .updel a:hover{
	/* background:linen; */
	font-weight: bold;
	cursor:pointer;
} 
.badge {
	background:#4bb6d6;
}
.btn_write {
	display:flex;
	justify-content:flex-end; 
	margin-bottom : 5px;
}

#guest_write {
	width: 100%;
    height: 10em;
    resize: none;
    line-height:25px;
    
}

.card-body3 {
	flex: 1 1 auto;
  	padding: 2rem 0.5rem 0rem 0.5rem;
}

.guest_form {
	boarder : 35px;
}

.text-center {
	text-align : center !important;
}
.secret {
	display : flex;
	justify-content:flex-end;
	margin : 5px 0px;
	font-size : 11pt;
	font-weight : bold;
	
}
.button1 {
	margin-top : 10px;
}
.secret input {
	zoom : 1.5;
	position: relative;
	top : -5px;
}

.guest-2 {
	background-color : #FFC846;
	display : flex;
	justify-content : space-between;
	font-weight: bold;
	padding : 5px 0;
	font-size:10pt;
}