@charset "UTF-8";
    /*******************************
        공통 style sheet
    ********************************/
/*  .content{border:1px solid orange;}
    .join{border:1px solid blue;}*/
    
    section.myinfo {
        /* border:1px solid red; */
        height:auto;
        margin: 0px 0px 10px 76px;
       /*  padding-bottom: 100px; */
    }
    section.myinfo > h1 {
    /*  border-left:15px solid #333;
        border-bottom:1px solid #333;*/
        width:30%;
        font-size:25pt;
        padding:3px 0 5px 20px;
        margin:30px 0 30px 100px;
    }
    section.myinfo > h2 + form {
    /*  border:1px solid green;*/
        width:80%;
        margin:auto;
        padding-right: 0px;
    }
    section.myinfo h2 {
         margin:0 0 40px 500px; 
         font-weight:bold;
        /*  text-align:center; */
        
    }
    .btn_style {
        font-size:10pt;
        font-weight:700;
        width:130px;
        padding:10px 0;
        background: black;  /* #534bae */
        color: white;
        border:1px solid white;
        margin-right:10px;
    }
     .btn_style:hover {
      background-color: gray;
        color: black;
    }    
    .btn-outline-dark {
        font-size:10pt;
        font-weight:700;
        width:130px;
        padding:10px 0;
        margin-right:10px;
    }
    
    .btn_style2 {  
        font-size:9pt;
        width:70px;
        padding:9px 0;
        background: black;
        color: white;
        border:1px solid white;
        border-radius:8px;
        margin-left:5px;
        font-weight:bold;
    }
     .btn_style2:hover {
        background-color: white;
        color: black;
        border:1px solid black;
    }    
    
    .btn_style3 {
        font-size:10pt;
        font-weight:700;
        width:100px;
        padding:8px 0;
        background:tomato;
        color:white;
        border:1px solid white;
        outline:1px double red;
        margin-right:10px;
        border-radius:5px;
    }
    
    /*****************************************
        회원정보  style
    ******************************************/
    form[name="myinfoForm"] ul {
        list-style-type:none;
        font-size:10pt;
        font-family:"Poppins", sans-serif;
        padding-left:100px;
    }
    
    form[name="myinfoForm"] ul label {
       /* background: linen;/*#f0f0ff*/
        color: black; /*#000069 */
        width:150px;
        display:inline-block;
        text-align:center;
        padding:10px 0;
        /* border-radius:5px;   */
        float:left; 
        margin-right:10px;
        margin-bottom:7px;
        font-weight:bold;
        border-right:3px solid #8c8cbe;
        border-bottom:3px solid #8c8cbe;  
		border-radius:20px;
    }
    form[name="myinfoForm"] ul li  { clear:left; }    
   /*  input:focus {
      box-shadow: none;
      border: 1px solid #534bae;
    } */
     
    .form-control {
        width:45%;
        display:inline-block;
    }
    .email {
        width:20%;
        display:inline-block;
    }
    #email3 {
        padding: 9.5px 0px 9.5px 35px;
    }
    form[name="myinfoForm"] li:last-child {
        /*text-align:center;*/
        margin-top:30px;
        margin-left:220px;
    }
    form[name="myinfoForm"] input[name="email2"] +select, select[name="hp1"] {
        margin-left:10px;
    }
    form[name="myinfoForm"] input, form[name="myinfoForm"] select {
    	border-radius:20px;
    } 
    
    /*성별 */
    .gender {
        font-size:13pt;
    }
    #gender {
        margin-top:13px;
    }