@charset "UTF-8";

#profileForm {
	width: 100%;
}
.btn-insert {
 	display:flex;
	justify-content:flex-end; 
}

.form-control{
	margin-top: 10px;
	padding: 170px 0px;
	display:flex;
	justify-content: center;
	align-items: center; 
}
.form-title{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px;
	display:flex;
	justify-content: center;
	align-items: center; 
}
