@charset "UTF-8";

#profileForm {
	width: 100%;
}
.btn-insert {
 	display:flex;
	justify-content:flex-end; 
}

.form-control{
	margin-top: 10px;
	padding: 100px 0px;
	display:flex;
	justify-content: center;
	align-items: center; 
}
