@charset "UTF-8";

form{
	min-height: 250px;
	max-height: 400px;
	overflow: auto;
}

.btn-insert {
 	display:flex;
	justify-content:flex-end; 
}

#button {
	margin: 3px 0 0 0;
	border-top: 1px solid #dedede;
}
#button a {
	margin: 3px;
}

#form-none{
	margin-top: 10px;
	padding: 170px 0px;
	display:flex;
	justify-content: center;
	align-items: center; 
}
.date {
	border-bottom: 1px solid #dedede;
 	display:flex;
	justify-content:space-between;
}
.date span {
	margin: 5px;
}

.form-title{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px;
	display:flex;
	justify-content: center;
	align-items: center; 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}