<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mapper.GuestMapper">

	<sql id="guestColumns">
		rno, book_num, mem_id, mem_id2, book_content, book_date, book_updatedate, book_secret, book_status
	</sql>

	<sql id="guestColumns2">
		book_num, mem_id, mem_id2, book_content, book_date, book_updatedate, book_secret, book_status
	</sql>
	
	<select id="selectGuest" parameterType="GuestDTO" resultType="GuestDTO">
		select 
			<include refid="guestColumns" /> 
		from 
			(select @rno:= @rno+1 as rno, guest_book_table.*
		from 
		guest_book_table, 
		(select @rno :=0 )a where mem_id=#{mem_id} and book_status ='N' order by book_date)sub 
		order by sub.rno desc 
		limit #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</select>
	
	<select id="selectGuest2" parameterType="GuestDTO" resultType="GuestDTO">
		select 
			<include refid="guestColumns" /> 
		from 
			(select @rno:= @rno+1 as rno, guest_book_table.*
		from 
		guest_book_table, 
		(select @rno :=0 )a where ((mem_id=#{mem_id} and book_status ='N' and book_secret is null) or (mem_id=#{mem_id} and mem_id2=#{mem_id2} and book_status = 'N' and book_secret='y')) order by book_date)sub 
		order by sub.rno desc 
		limit #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</select>
	
	<select id="selectGuestTotalCount" parameterType="GuestDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			guest_book_table
		WHERE
			(mem_id=#{mem_id} and book_status ='N' and book_secret is null) or (mem_id=#{mem_id} and mem_id2=#{mem_id2} and book_status = 'N' and book_secret='y')
	</select>
	
	<select id="getList" resultType="GuestDTO">
        select * from guest_book_table;
    </select>
    
    <select id="now" resultType="String">
		select DATE_FORMAT(now(), '%Y-%m-%d')
	</select> 
	
	<insert id="insertGuest" parameterType="GuestDTO">
		insert into guest_book_table values(book_num, #{mem_id},#{mem_id2}, #{book_content}, now(), now(),#{book_secret}, 'N')
	</insert>
	
	<update id="updateGuest" parameterType="GuestDTO">
		update guest_book_table set book_content=#{book_content}, book_updatedate=now(), book_secret=#{book_secret} where book_num=#{book_num}
	</update>
	
	<select id="updateGuestMove" parameterType="_int" resultType="GuestDTO">
		select <include refid="guestColumns2" /> from guest_book_table where book_num=#{book_num}
	</select>
		
	<update id="deleteGuest" parameterType="_int">
		update guest_book_table set book_status='Y', book_updatedate=now() where book_num=#{book_num}
	</update>
</mapper>