<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mapper.JoinMapper">

	<sql id="memberColumns">
		  mem_id
		, mem_pass
		, mem_name
		, mem_email1
		, mem_email2
		, mem_hp
		, mem_birth
		, mem_gender
		, mem_date
		, mem_status
	</sql>

	<insert id="joinProc" parameterType="MemberDTO" >
		insert into member_table
		values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_email1},
		#{mem_email2}, #{mem_hp}, #{mem_birth}, #{mem_gender}, now(), 'n')

	</insert>
	
	<select id="checkId" parameterType="String" resultType="_int">
		select count(*) from member_table where mem_id=#{mem_id}
	
	</select>


</mapper>