<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mapper.MyInfoMapper">

    <sql id="memberColumns">
        mem_id, mem_pass, mem_name, mem_email1, mem_email2, 
        mem_hp, mem_birth, mem_gender, mem_date, mem_status
    </sql>
    
    <select id="showInfo" parameterType="String" resultType="MemberDTO">
    
    SELECT 
    mem_id, mem_pass, mem_name, mem_email1, mem_email2, 
    mem_hp, mem_birth, CASE mem_gender WHEN 'M' THEN '남성' ELSE '여성' END AS mem_gender, mem_date
    FROM member_table
    WHERE mem_id = #{mem_id}
    
    <!-- SELECT 
    mem_id, mem_pass, mem_name, mem_email1, mem_email2, 
    mem_hp, mem_birth, mem_gender, mem_date
    FROM member_table
    WHERE mem_id = #{mem_id}; -->
    
    </select>
    
    <update id="editInfo" parameterType="MemberDTO">
    
    UPDATE member_table SET 
    mem_pass = #{mem_pass}, 
    mem_email1 = #{mem_email1}, 
    mem_email2 = #{mem_email2}, 
    mem_hp = #{mem_hp} 
    WHERE mem_id = #{mem_id}
    
    </update>
    
    <update id="exitMember" parameterType="String">
    
    UPDATE member_table SET
    mem_status = 'Y'
    WHERE mem_id = #{mem_id}
    
    </update>

</mapper>