<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mapper.ProfileMapper">

<sql id="profileColumns">
        mem_id, profile_photo, profile_content, profile_date, profile_updatedate
    </sql>
    
    <insert id="profileInsert" parameterType="ProfileDTO" >
    
    	insert into 
    		profile_table 
    	values
    		(#{mem_id},#{profile_photo},#{profile_content},now(),null)
    
    </insert>
    
    <select id="profileSelect" parameterType="String" resultType="ProfileDTO">
    
    	select 
    		<include refid="profileColumns"></include>
    	from
    		profile_table
    	where 
    		mem_id = #{mem_id}
    
    </select>
    
    <select id="profileCheck" parameterType="String" resultType="_int">
    
    	select 
    		count(*)
    	from
    		profile_table
    	where 
    		mem_id = #{mem_id}
    
    </select>
    
    <update id="profileUpdate" parameterType="ProfileDTO">
    
	    update profile_table SET 
		    profile_photo = #{profile_photo}, 
		    profile_content = #{profile_content}, 
		    profile_updatedate = now()
	    where mem_id = #{mem_id}
    
    </update>
    
</mapper>