<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>guest_book</title>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/guest.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/reset.css" />
</head>
<body>
	<div id="guest_change">
		<div class="btn_write">
			<a th:attr="onclick=|guestWrite('/mini/guest/guest_write/${mem_id}/${session.loginUser.mem_id}')|">
				<button type="button" class="btn btn-outline-dark btn-sm">글쓰기</button>
			</a>
		</div>
		
		<th:block th:if="${not #lists.isEmpty( guestList )}" th:each="list, i : ${guestList}">
		<form name="guestForm" id="guestForm" >
			<input type="hidden" name="book_num" th:value=${list.book_num} >
			<input type="hidden" name="mem_id" th:value=${mem_id} >  
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<div class="col mb-5">
			<div class="card h-100">
				<div>
						<div class="guest-1">
							<!-- <span th:text="${i}"></span>  -->
							<div>
								<span th:text="|No.${list.rno}|" class="guest_num"></span>
								<span th:text="|작성자 : ${list.mem_id2}|" class="guest_mem_id2"></span>
							</div>
					        <div> 		
					           	<span th:if="${#strings.equals(today, list.book_date)}" class="badge" >NEW</span>
								<span id="book-date2" th:text="|작성일 : ${list.book_date}|" class="guest_date"></span>
							</div>
			            </div>
						<div>
						<div class="card-body2 ">
							<div class="guestListContent"  th:text="${list.book_content}"></div>
						</div>
						<th:block th:if="${#strings.equals(mem_id, session.loginUser.mem_id)}">
							<div class="card-footer  pt-2 border-top-0 bg-transparent updel">
								<a th:attr="onclick=|guestUpdateMove('/guest_update/${mem_id}/${list.book_num}')|">수정</a>
								<a th:attr="onclick=|guestDelete('/guestDelete/${mem_id}/${list.book_num}')|">삭제</a>
							</div>
						</th:block>
						</div>
				</div>
			</div>
			</div>
			</div>	
		</form>	
	</th:block>
	<th:block th:unless="${not #lists.isEmpty( guestList)}">
		<span class="infoMsg"> 방명록에 글이 없어요. 글 작성좀 해주세요. (￣y▽￣)╭ </th:block>
</div>

<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
<script src="/js/guest.js"></script>
<script src="/js/ajax.js"></script>
</body>
</html>