<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/guest.css" />
</head>
<body>
<div id="guest_change">  
	<form name="guestWriteForm" id="guestWriteForm"  method="post"> 
		<input type="hidden" name="mem_id" th:value=${mem_id} >
		<div class="secret"><input type="checkbox" name="book_secret" value="Y">비밀글여부</div>
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			<div class="col mb-5">
				<div class="card h-100 guest_form">
					<div class="guest-1">
						<div>
							<span th:text="|작성자 : ${mem_id2} |"></span>
						</div>
						 <div class="guest-date">
							<span th:text="|작성일 : ${todayDate} |"></span>
						</div> 
					</div>
					<div class="card-body3 ">
						<div>
							<textarea id="guest_write" name="book_content" ></textarea>
						</div>
					</div>
					<div class="card-footer  pt-0 border-top-0 bg-transparent"></div>
				</div>
				<div class="text-center button1">
					<button type="button" class="btn btn-outline-dark btn-sm btn-set" th:attr="onclick=|guestWrite('/guestInsert/${mem_id}/${mem_id2}')|">등록</button>
					<button type="button" class="btn btn-outline-dark btn-sm btn-set" th:attr="onclick=|guest('/mini/guest/guest/${mem_id}')|">취소</button>
				</div>
			</div>
		</div>
	</form>
</div> 

<script src="/js/guest.js"></script>
</body>
</html>